body{
    background-image: url('./assets/background.png');
    font-family: 'Pangolin', cursive;
    font-size: large;
}

.display_inline{
    display: inline;
    padding: 0.5rem;
}

div{
    margin: 20px 150px 10px 300px;
}